ean_construction_target_model_frequency; FREQUENCY_AS_MULTIPLICITY
tim_nws_timelimit; 3600
tim_pesp_ip_timelimit; 3600
tim_model; MATCH
#tim_model; con_ns
#tim_model; ip
#tim_model; cb-pesp
vs_model; SIMPLE
lc_model; cost
vs_solver; GUROBI
rollout_whole_trips; true
vs_depot_index; -1
default_timetable_visum_file; "timetabling/Timetable-visum-nodes.tim"
visum_old_timetable_output; true
tim_eval_extended; true