console_log_level; DEBUG
lc_solver; GUROBI
ean_eval_extended; true
tim_eval_extended; true
rollout_whole_trips; true
default_perceived_travel_time_output; "perceived_travel_time_output.tim"
vs_depot_index; -1
vs_vehicle_costs; 100
load_generator_fixed_upper_frequency; 100
lc_budget; 5000
lc_respect_fixed_lines; true
tim_respect_fixed_lines; true
load_generator_type; REDUCTION
load_generator_use_cg; false
lpool_model; "tree_based"
load_generator_use_cg; true
lpool_model; "tree_based"
lpool_model; "k_shortest_paths"
lpool_number_shortest_paths; 1
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lpool_model; "tree_based"
lpool_model; "k_shortest_paths"
lpool_number_shortest_paths; 1
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lpool_model; "tree_based"
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
load_generator_type; REDUCTION
load_generator_use_cg; true
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lpool_model; "tree_based"
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
load_generator_type; SP
load_generator_use_cg; false
lpool_model; "tree_based"
load_generator_use_cg; true
lpool_model; "tree_based"
lpool_model; "k_shortest_paths"
lpool_number_shortest_paths; 1
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lpool_model; "tree_based"
lpool_model; "k_shortest_paths"
lpool_number_shortest_paths; 1
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lpool_model; "tree_based"
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
load_generator_type; SP
load_generator_use_cg; true
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lpool_model; "tree_based"
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
load_generator_type; REDUCTION
load_generator_use_cg; false
lpool_model; "tree_based"
lpool_model; "k_shortest_paths"
lpool_number_shortest_paths; 1
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lpool_model; "tree_based"
lpool_model; "k_shortest_paths"
lpool_number_shortest_paths; 1
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lpool_model; "tree_based"
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lpool_model; "tree_based"
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
load_generator_type; SP
load_generator_use_cg; false
lpool_model; "tree_based"
lpool_model; "k_shortest_paths"
lpool_number_shortest_paths; 1
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_model; cost
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 0
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
lc_budget; 6000
lc_timelimit; 3600
lc_model; direct
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
tim_model; MATCH
vs_model; IP
tim_model; con_ns
vs_model; IP
