rollout_whole_trips; true
ean_construction_target_model_frequency; "FREQUENCY_AS_MULTIPLICITY"
tim_eval_extended; true
#lc_model; "mult-cost-direct"
load_generator_type; REDUCTION
load_generator_use_cg; true
tim_pass_use_preprocessing; true
tim_pass_restrict_transfer_stations; false
tim_pass_use_cycle_base; true
global_n_time_slices; 1
factor_travel_time; 1
factor_drive_time; 0
factor_transfer_time; 0
factor_wait_time; 0
factor_penalty_time_slice; 0
factor_penalty_transfer; 5
tim_pass_fix_passengers; true
number_of_routed_od_pairs; 625
time_limit; 14400
mip_gap; -1
write_lp_output; false
default_objective_file; "objective"
