console_log_level; DEBUG
lc_solver; GUROBI
ean_eval_extended; true
tim_eval_extended; true
rollout_whole_trips; true
default_perceived_travel_time_output; "perceived_travel_time_output.tim"
vs_depot_index; -1
vs_vehicle_costs; 100
load_generator_fixed_upper_frequency; 100
lc_budget; 5000
load_generator_type; REDUCTION
load_generator_use_cg; false
lpool_model; "tree_based"
load_generator_use_cg; true
load_generator_type; REDUCTION
load_generator_use_cg; true
vs_model; IP
