lc_model;cost
vs_maximum_buffer_time; 87
tim_model; MATCH
rollout_whole_trips; true
ean_model_weight_drive; MINIMAL_DRIVING_TIME
ean_model_weight_wait; MINIMAL_WAITING_TIME
vs_model; CANAL_MODEL
vs_vehicle_costs; 300
vs_depot_index; -1
lpool_ratio_od; 0.5
lpool_costs_fixed; 37.5
lpool_costs_length; 1.5
lpool_costs_edges; 25
lpool_costs_vehicles; 25
tim_eval_extended; true
lpool_model; tree_based
lc_model; direct
lc_mult_relation; 0.8
console_log_level; DEBUG
#default_timetable_visum_file; "timetabling/Timetable-visum-nodes-new.tim"
visum_old_timetable_output; true
vs_model; IP